/* Prevent horizontal scrolling in mobile view */
body, html {
    overflow-x: hidden;
}

/* Ensure navigation boxes are aligned properly */
.nav-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav-box a {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Align icons and text in navigation boxes */
.nav-box a i {
    margin-right: 10px;
}

/* Ensure popups fit within the mobile screen */
.popup {
    max-width: 100%;
    word-wrap: break-word; /* Prevent long text from overflowing */
}


/* advice button adjustments */

.advice-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.advice-button button {
    background-color: #0fa4af;
    color: #FFF;
    font-size: 1.2em;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.advice-button button:hover {
    background-color: #ff6f61;
}

#advice-form {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#advice-text {
    width: 100%;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #FFFDF2; /* Light background */
    color: #333; /* Dark gray text */
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
    .skills-card, .experience-card, .education-card {
        width: 90%; /* Ensure content fits within mobile display */
    }

    .social-links a {
        font-size: 2em; /* Adjust size for mobile */
    }

    header h1 {
        font-size: 2.4em; /* Adjust title size for mobile */
    }

    .nav-box {
        width: 120px;
        height: 50px;
    }
}
